<head>
  <link rel="icon" type="image/x-icon" href="ico.ico">
  <title>首頁-TeddyBear</title>
  <link rel="stylesheet" href="style.css">
  <meta name="viewport" content="width= device-width, initial-scale=1.0">
  <!--引用bootstrap-stylestreet-->
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>

<noscript>
  <div class="alert alert-warning" role="alert">
    [注意]你的瀏覽器尚未啟用javascript，請啟用以確保功能使用正常!
  </div>
</noscript>

<style>
  .nosrt{
    color: rgb(255, 0, 0);
    font-size: xx-large;
}
</style>
<div class="col-md-6 col-lg-4 col-xl-3">
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">TeddyBear的網站</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">首頁</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tbl/">外掛啟動器-自製外掛啟動器</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.youtube.com/@bearshen1019">YT頻道</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            更多連結
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="https://github.com/Bearshenmin/bearshenmin.github.io">網頁專案</a></li>
            <li><a class="dropdown-item" href="https://info.flagcounter.com/Cloo">網頁瀏覽資料</a></li>
            <li><a class="dropdown-item" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&pp=ygUIcmlja3JvbGw%3D">哈哈哈哈哈ㄏ阿</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <script async src="https://cse.google.com/cse.js?cx=57fe9847cc1724e56">
          </script>
          <div class="gcse-search"></div>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>



<script>
  if ("Notification" in window) {
  // 支援 Notification API
} else {
  // 不支援 Notification API
}

Notification.requestPermission().then(function(permission) {
  if (permission === "granted") {
    // 使用者已授權網站發送通知
  }
});

var notification = new Notification("歡迎來到TeddyBear的網站", {
  body: "歡迎來到TeddyBear的網站，祝你參觀愉快",
  icon: "ico.ico",
});
</script>



<style>
.playpause {
  font-size: 50px;
  padding: 10px 50px;
  background-color: #00a2ff;
  cursor: pointer;
  color: red;
}


</style>
<br>
<br>
<br>

<b>Roblox外掛</b></br>



<script>
  function checkPassword() {
    var password = document.getElementById("password").value;
    if (password == "5487") {
      var notification3 = new Notification("????????????", {
  body: "你怎麼知道密碼???",
  icon: "ico",
});
      window.location.href = "https://drive.google.com/file/d/1tTyL7NA0wi6gWCMDPf4eoIMlOtNPwMhb/view?usp=sharing";
    } else {
      alert("密碼錯誤，請重新輸入");
    }
  }

</script>
<div class="col-md-6 col-lg-4 col-xl-3">
<button onclick="window.open('/tbl/', '_blank')" class="btn btn-primary">TeddyBear啟動器官方網站</button><br>
<button onclick="window.open('https://github.com/Bearshenmin/TeddyBear_Luncher/releases', '_blank')" class="btn btn-primary">自製啟動器-TeddyBear啟動器</button><br>
<button onclick="window.open('https://bearshenmin.github.io/%E8%85%B3%E6%9C%AC.txt', '_blank')" class="btn btn-primary">Roblox 自製外掛--TeddyBearHub(腳本檔案)</button><br>
<button onclick="window.open('https://github.com/Bearshenmin/bearshenmin.github.io/blob/main/README.md', '_blank')" class="btn btn-primary">外掛使用說明(注入器下載)</button><br>

<b>關於我</b><br><br>
<button onclick="window.open('https://bearshenmin.github.io/card.html', '_blank')" class="btn btn-primary">電子名片</button><br><br>

<b>GitHub Project</b><br><br>
<button onclick="window.open('https://github.com/Bearshenmin/bearshenmin.github.io', '_blank')" class="btn btn-primary">網頁專案</button><br><br>

<b>小工具<a href="微笑的臉純音樂 (remake).mp3" download>:</a></b><br><br>
<button onclick="window.open('weather/', '_blank')" class="btn btn-primary">查詢天氣</button><br><br>
<button onclick="window.open('battery/', '_blank')" class="btn btn-primary">查詢電量</button><br><br>
<button onclick="window.open('marquee/', '_blank')" class="btn btn-primary">跑馬燈</button><br><br>
<button onclick="window.open('https://bearshenmin.github.io/sound.html', '_blank')" class="btn btn-primary">麥克風(未完成)</button><br><br>
<button onclick="window.open('https://bearshenmin.github.io/rgb/index.html?text=', '_blank')" class="btn btn-primary">RGB文字框</button><br><br>

<b>小遊戲</b><br><br>
<button onclick="window.open('click/', '_blank')" class="btn btn-primary">點擊遊戲</button><br><br>
<button onclick="window.open('snack/', '_blank')" class="btn btn-primary">貪吃蛇遊戲</button><br>
<h2>網頁計數器</h2>
<a href="https://info.flagcounter.com/Cloo"><img src="https://s01.flagcounter.com/count2/Cloo/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_0/pageviews_1/flags_0/percent_0/" alt="Flag Counter" border="0"></a>
</br>
<b class="white">恭喜你發現彩蛋!</b>
<!--引用bootstrap-javascript-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

<form>
  <label>???????????(密碼打完按提交，不要按ENTER鍵)：<input type="password" id="password"></label>
  <input type="button" value="提交" onclick="checkPassword()" class="submit">
</form>
</div>