body {
    font-family: roboto;
}



a {
    color: blue;
    text-decoration: none;
    text-align: center;
}

.submit {
    background-color: greenyellow;
}

.white{
    color: white;
    font-size: xx-large;
    cursor: default;
}

